.body-index {
  background-image: url("../img/iz-fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  background-attachment: fixed;
  font-family: 'Inconsolata', monospace;
  overflow-x: hidden;
  overflow-y: hidden;
}

.is-titulo {
  color: #2d2b2b;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 400%;
}

.div-titulo-is {
  padding-top: 10%;
  position: relative;
}

.navbar a {
  color: #fef9fb !important;
}

.div-iniciar-sesion {
  padding: 6%;
  position: relative;
  left: 0;
  right: 0;
}

.div-iniciar-sesion a {
  color: #2b2d2d;
  text-decoration: none !important;
}

.div-iniciar-sesion a:hover {
  color: black;
}

.footer-p {
  padding: 2%;
  position: relative;
  margin: auto;
  float: none;
  bottom: 0;
  right: 0;
  left: 0;
}

